# Librairies

In [43]:
import pandas as pd
import numpy as np

# Data

## Source 1 : Effectifs d’étudiants inscrits dans les établissements et les formations de l’enseignement supérieur

https://www.data.gouv.fr/fr/datasets/effectifs-d-etudiants-inscrits-dans-les-etablissements-et-les-formations-de-l-enseignement-superie-0/

In [44]:
data=pd.read_csv('statEffectifsEtudiantsExtended[PrePython].csv',sep=";")

In [45]:
data

,Type d'établissement,Nombre d'étudiants inscrits (inscriptions principales) y compris doubles inscriptions CPGE,Âge au baccalauréat : En avance au bac d'un an ou plus,Âge au baccalauréat : A l'heure,Âge au baccalauréat : En retard au bac d'un an ou plus,Âge au baccalauréat : Non renseigné ou non bachelier,etablissement_code_commune,etablissement_commune,Dernier établissement,rentree
0,Autre établissement,2931,216,1942,675,86.0,34172,Montpellier,Université de Montpellier,2006
1,Université,29123,2586,12564,4998,6395.0,75105,Paris 5e,Sorbonne Université,2006
2,Université,13347,690,7291,3080,2222.0,63113,Clermont-Ferrand,Université Clermont Auvergne,2006
3,Université,19017,721,10242,5800,2117.0,25056,Besançon,Université de Franche-Comté,2006
4,Université,16419,1093,6625,3451,4812.0,75105,Paris 5e,Université Sorbonne Nouvelle - Paris 3,2006
...,...,...,...,...,...,...,...,...,...,...
2161,Université,19826,882,13706,2636,2136.0,87085,Limoges,Université de Limoges,2020
2162,Université,32892,1755,22663,4824,2621.0,14118,Caen,Université de Caen Normandie,2020
2163,Université,33689,1832,21436,5134,4813.0,6088,Nice,Université Côte d'Azur,2020
2164,École,864,97,629,70,68.0,95127,Cergy,École nationale supérieure de l'électronique e...,2020
2165,Université,74665,4122,47260,11625,9192.0,13207,Marseille 7e,Aix-Marseille Université,2020

Les données sont axées sur le baccalauréat.

In [46]:
data.columns

Index(['Type d'établissement',
       'Nombre d'étudiants inscrits (inscriptions principales) y compris doubles inscriptions CPGE',
       'Âge au baccalauréat : En avance au bac d'un an ou plus',
       'Âge au baccalauréat : A l'heure',
       'Âge au baccalauréat : En retard au bac d'un an ou plus',
       'Âge au baccalauréat : Non renseigné ou non bachelier',
       'etablissement_code_commune', 'etablissement_commune',
       'Dernier établissement', 'rentree'],
      dtype='object')

In [47]:
dfColNeeded=data.iloc[:,1:] #On enlève le type d'établissement

In [48]:
dfColNeeded

,Nombre d'étudiants inscrits (inscriptions principales) y compris doubles inscriptions CPGE,Âge au baccalauréat : En avance au bac d'un an ou plus,Âge au baccalauréat : A l'heure,Âge au baccalauréat : En retard au bac d'un an ou plus,Âge au baccalauréat : Non renseigné ou non bachelier,etablissement_code_commune,etablissement_commune,Dernier établissement,rentree
0,2931,216,1942,675,86.0,34172,Montpellier,Université de Montpellier,2006
1,29123,2586,12564,4998,6395.0,75105,Paris 5e,Sorbonne Université,2006
2,13347,690,7291,3080,2222.0,63113,Clermont-Ferrand,Université Clermont Auvergne,2006
3,19017,721,10242,5800,2117.0,25056,Besançon,Université de Franche-Comté,2006
4,16419,1093,6625,3451,4812.0,75105,Paris 5e,Université Sorbonne Nouvelle - Paris 3,2006
...,...,...,...,...,...,...,...,...,...
2161,19826,882,13706,2636,2136.0,87085,Limoges,Université de Limoges,2020
2162,32892,1755,22663,4824,2621.0,14118,Caen,Université de Caen Normandie,2020
2163,33689,1832,21436,5134,4813.0,6088,Nice,Université Côte d'Azur,2020
2164,864,97,629,70,68.0,95127,Cergy,École nationale supérieure de l'électronique e...,2020
2165,74665,4122,47260,11625,9192.0,13207,Marseille 7e,Aix-Marseille Université,2020

On cherche à sommer le nombre d'élèves selon deux catégories : ils ont passé le bac en avance et/ou à l'heure, ou en retard.

In [49]:
dfColNeeded.iloc[:,1:3] #vérification pour somme avance ou à l'heure

,Âge au baccalauréat : En avance au bac d'un an ou plus,Âge au baccalauréat : A l'heure
0,216,1942
1,2586,12564
2,690,7291
3,721,10242
4,1093,6625
...,...,...
2161,882,13706
2162,1755,22663
2163,1832,21436
2164,97,629
2165,4122,47260

In [50]:
dfColNeeded.iloc[:,3:5] #verification bac retard ou non spécifié

,Âge au baccalauréat : En retard au bac d'un an ou plus,Âge au baccalauréat : Non renseigné ou non bachelier
0,675,86.0
1,4998,6395.0
2,3080,2222.0
3,5800,2117.0
4,3451,4812.0
...,...,...
2161,2636,2136.0
2162,4824,2621.0
2163,5134,4813.0
2164,70,68.0
2165,11625,9192.0

Nombre d'élèves ayant passé le bac :

In [51]:
dfColNeeded.iloc[:,1:5]

,Âge au baccalauréat : En avance au bac d'un an ou plus,Âge au baccalauréat : A l'heure,Âge au baccalauréat : En retard au bac d'un an ou plus,Âge au baccalauréat : Non renseigné ou non bachelier
0,216,1942,675,86.0
1,2586,12564,4998,6395.0
2,690,7291,3080,2222.0
3,721,10242,5800,2117.0
4,1093,6625,3451,4812.0
...,...,...,...,...
2161,882,13706,2636,2136.0
2162,1755,22663,4824,2621.0
2163,1832,21436,5134,4813.0
2164,97,629,70,68.0
2165,4122,47260,11625,9192.0

On somme pour connaitre le nombre d'élèves totaux.

In [52]:
effectifBac=dfColNeeded.iloc[:,1:5].sum(axis=1)

In [53]:
effectifBac

0        2919.0
1       26543.0
2       13283.0
3       18880.0
4       15981.0
         ...
2161    19360.0
2162    31863.0
2163    33215.0
2164      864.0
2165    72199.0
Length: 2166, dtype: float64

On calcule la proportion de bacheliers en avance:

In [54]:
dfColNeeded['AgeBacAvanceOuATemps']=dfColNeeded.iloc[:,1:3].sum(axis=1)

In [55]:
dfColNeeded['AgeBacAvanceOuATemps']=dfColNeeded['AgeBacAvanceOuATemps']/effectifBac

In [56]:
dfColNeeded

,Nombre d'étudiants inscrits (inscriptions principales) y compris doubles inscriptions CPGE,Âge au baccalauréat : En avance au bac d'un an ou plus,Âge au baccalauréat : A l'heure,Âge au baccalauréat : En retard au bac d'un an ou plus,Âge au baccalauréat : Non renseigné ou non bachelier,etablissement_code_commune,etablissement_commune,Dernier établissement,rentree,AgeBacAvanceOuATemps
0,2931,216,1942,675,86.0,34172,Montpellier,Université de Montpellier,2006,0.739294
1,29123,2586,12564,4998,6395.0,75105,Paris 5e,Sorbonne Université,2006,0.570772
2,13347,690,7291,3080,2222.0,63113,Clermont-Ferrand,Université Clermont Auvergne,2006,0.600843
3,19017,721,10242,5800,2117.0,25056,Besançon,Université de Franche-Comté,2006,0.580667
4,16419,1093,6625,3451,4812.0,75105,Paris 5e,Université Sorbonne Nouvelle - Paris 3,2006,0.482949
...,...,...,...,...,...,...,...,...,...,...
2161,19826,882,13706,2636,2136.0,87085,Limoges,Université de Limoges,2020,0.753512
2162,32892,1755,22663,4824,2621.0,14118,Caen,Université de Caen Normandie,2020,0.766343
2163,33689,1832,21436,5134,4813.0,6088,Nice,Université Côte d'Azur,2020,0.700527
2164,864,97,629,70,68.0,95127,Cergy,École nationale supérieure de l'électronique e...,2020,0.840278
2165,74665,4122,47260,11625,9192.0,13207,Marseille 7e,Aix-Marseille Université,2020,0.711672

On calcule la proportion de bacheliers en retard:

In [57]:
dfColNeeded['AgeBacRetard']=dfColNeeded.iloc[:,3:5].sum(axis=1)

In [58]:
dfColNeeded['AgeBacRetard']=dfColNeeded['AgeBacRetard']/effectifBac

In [59]:
dfColNeeded

,Nombre d'étudiants inscrits (inscriptions principales) y compris doubles inscriptions CPGE,Âge au baccalauréat : En avance au bac d'un an ou plus,Âge au baccalauréat : A l'heure,Âge au baccalauréat : En retard au bac d'un an ou plus,Âge au baccalauréat : Non renseigné ou non bachelier,etablissement_code_commune,etablissement_commune,Dernier établissement,rentree,AgeBacAvanceOuATemps,AgeBacRetard
0,2931,216,1942,675,86.0,34172,Montpellier,Université de Montpellier,2006,0.739294,0.260706
1,29123,2586,12564,4998,6395.0,75105,Paris 5e,Sorbonne Université,2006,0.570772,0.429228
2,13347,690,7291,3080,2222.0,63113,Clermont-Ferrand,Université Clermont Auvergne,2006,0.600843,0.399157
3,19017,721,10242,5800,2117.0,25056,Besançon,Université de Franche-Comté,2006,0.580667,0.419333
4,16419,1093,6625,3451,4812.0,75105,Paris 5e,Université Sorbonne Nouvelle - Paris 3,2006,0.482949,0.517051
...,...,...,...,...,...,...,...,...,...,...,...
2161,19826,882,13706,2636,2136.0,87085,Limoges,Université de Limoges,2020,0.753512,0.246488
2162,32892,1755,22663,4824,2621.0,14118,Caen,Université de Caen Normandie,2020,0.766343,0.233657
2163,33689,1832,21436,5134,4813.0,6088,Nice,Université Côte d'Azur,2020,0.700527,0.299473
2164,864,97,629,70,68.0,95127,Cergy,École nationale supérieure de l'électronique e...,2020,0.840278,0.159722
2165,74665,4122,47260,11625,9192.0,13207,Marseille 7e,Aix-Marseille Université,2020,0.711672,0.288328

In [60]:
dfPreJoin=dfColNeeded.iloc[:,5:]

In [61]:
dfPreJoin

,etablissement_code_commune,etablissement_commune,Dernier établissement,rentree,AgeBacAvanceOuATemps,AgeBacRetard
0,34172,Montpellier,Université de Montpellier,2006,0.739294,0.260706
1,75105,Paris 5e,Sorbonne Université,2006,0.570772,0.429228
2,63113,Clermont-Ferrand,Université Clermont Auvergne,2006,0.600843,0.399157
3,25056,Besançon,Université de Franche-Comté,2006,0.580667,0.419333
4,75105,Paris 5e,Université Sorbonne Nouvelle - Paris 3,2006,0.482949,0.517051
...,...,...,...,...,...,...
2161,87085,Limoges,Université de Limoges,2020,0.753512,0.246488
2162,14118,Caen,Université de Caen Normandie,2020,0.766343,0.233657
2163,6088,Nice,Université Côte d'Azur,2020,0.700527,0.299473
2164,95127,Cergy,École nationale supérieure de l'électronique e...,2020,0.840278,0.159722
2165,13207,Marseille 7e,Aix-Marseille Université,2020,0.711672,0.288328

In [65]:
dfPreJoin.to_csv('/Users/oscarmeurer/iCloud Drive (archive) - 1/Documentss/Pour Disque Dur (last 3 decembre 2021)/Centrale Lille /G3/Croix Rouge Française/VsCode/Git/Education/Output/bac2006_2020pourDataStudio.csv')