# Librairies

In [79]:
import pandas as pd
import numpy as np

# Dataset

## Source 1 : Revenus, pauvreté et niveau de vie en 2018 (Iris)

https://www.insee.fr/fr/statistiques/5055909

### Metadata

***Les valeurs concernent l'année 2018.***

In [80]:
meta=pd.read_csv('[SOURCE]meta_BASE_TD_FILO_DISP_IRIS_2018.csv',sep=';')

In [81]:
meta

,COD_VAR,LIB_VAR,LIB_VAR_LONG,TYPE_VAR,LIB_MOD
0,IRIS,IRIS,Code du departement suivi du numero de commune...,CHAR,9
1,DISP_TP6018,Taux de pauvrete au seuil de 60 % (%),Taux de pauvrete au seuil de 60 % du revenu di...,NUM,4
2,DISP_Q118,1er quartile (euros),1er quartile du revenu disponible par unite de...,NUM,5
3,DISP_MED18,Mediane (euros),Mediane du revenu disponible par unite de cons...,NUM,5
4,DISP_Q318,3e quartile (euros),3e quartile du revenu disponible par unite de ...,NUM,6
5,DISP_EQ18,ecart inter-quartile rapporte a la mediane,ecart inter-quartile rapporte a la mediane,NUM,4
6,DISP_D118,1er decile (euros),1er decile du revenu disponible par unite de c...,NUM,5
7,DISP_D218,2e decile (euros),2e decile du revenu disponible par unite de co...,NUM,5
8,DISP_D318,3e decile (euros),3e decile du revenu disponible par unite de co...,NUM,5
9,DISP_D418,4e decile (euros),4e decile du revenu disponible par unite de co...,NUM,5
10,DISP_D618,6e decile (euros),6e decile du revenu disponible par unite de co...,NUM,5
11,DISP_D718,7e decile (euros),7e decile du revenu disponible par unite de co...,NUM,6
12,DISP_D818,8e decile (euros),8e decile du revenu disponible par unite de co...,NUM,6
13,DISP_D918,9e decile (euros),9e decile du revenu disponible par unite de co...,NUM,6
14,DISP_RD18,Rapport interdecile D9/D1,Rapport interdecile D9/D1 du revenu disponible...,NUM,4
15,DISP_S80S2018,S80/S20,S80/S20 du revenu disponible par unite de cons...,NUM,4
16,DISP_GI18,Indice de Gini,Indice de Gini du revenu disponible par unite ...,NUM,5
17,DISP_PACT18,Part des revenus d'activite (%),Part des revenus d'activite (%),NUM,5
18,DISP_PTSA18,dont part des salaires et traitements (%),dont part des salaires et traitements (%),NUM,5
19,DISP_PCHO18,dont part des indemnites de chomage (%),dont part des indemnites chomage (%),NUM,3
20,DISP_PBEN18,dont part des revenus des activites non salari...,dont part des revenus des activites non salari...,NUM,4
21,DISP_PPEN18,"Part des pensions, retraites et rentes (%)","Part des pensions, retraites et rentes (%)",NUM,4
22,DISP_PPAT18,Part des revenus du patrimoine et autres reven...,Part des revenus du patrimoine et autres reven...,NUM,4
23,DISP_PPSOC18,Part de l'ensemble des prestations sociales (%),Part de l'ensemble des prestations sociales (%),NUM,4
24,DISP_PPFAM18,dont part des prestations familiales (%),dont part des prestations familiales (%),NUM,4
25,DISP_PPMINI18,dont part des minima sociaux (%),dont part des minima sociaux (%),NUM,4
26,DISP_PPLOGT18,dont part des prestations logement (%),dont part des prestations logement (%),NUM,4
27,DISP_PIMPOT18,Part des impots (%),Part des impots (%),NUM,5

"L'indice (ou coefficient) de Gini est un indicateur synthétique permettant de rendre compte du niveau d'inégalité pour une variable et sur une population donnée. Il varie entre 0 (égalité parfaite) et 1 (inégalité extrême) " INSEE.

### Data

In [82]:
data=pd.read_csv('[SOURCE]BASE_TD_FILO_DISP_IRIS_2018.csv',sep=';')

In [83]:
data

,IRIS,DISP_TP6018,DISP_Q118,DISP_MED18,DISP_Q318,DISP_EQ18,DISP_D118,DISP_D218,DISP_D318,DISP_D418,...,DISP_PCHO18,DISP_PBEN18,DISP_PPEN18,DISP_PPAT18,DISP_PPSOC18,DISP_PPFAM18,DISP_PPMINI18,DISP_PPLOGT18,DISP_PIMPOT18,DISP_NOTE18
0,10040101,20.1,14000.0,19300.0,25250.0,0.58,10340.0,13010.0,14970.0,17020.0,...,3.0,2.7,27.7,7.3,8.8,3.4,3.4,2.0,-15.1,0
1,10040102,25.7,12890.0,17530.0,23100.0,0.58,9970.0,12030.0,13710.0,15570.0,...,4.2,2.2,26.2,6.6,11.5,3.9,4.5,3.1,-13.8,0
2,10040201,19.1,14090.0,19580.0,26320.0,0.62,11000.0,13140.0,15170.0,17640.0,...,3.1,4.2,28.9,8.2,7.8,3.1,2.6,2.1,-15.8,0
3,10040202,8.9,18360.0,24530.0,31590.0,0.54,13600.0,17120.0,19550.0,21970.0,...,2.3,3.6,23.6,21.2,4.1,2.1,1.2,0.8,-20.3,0
4,10330102,18.6,14060.0,19960.0,28100.0,0.70,10230.0,13330.0,15420.0,17470.0,...,4.2,2.4,26.7,8.4,5.2,1.6,2.0,1.6,-14.7,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12390,974221001,44.1,10100.0,14100.0,21770.0,0.83,7160.0,9360.0,10970.0,12210.0,...,6.5,10.6,15.4,5.4,16.0,4.4,9.0,2.6,-10.9,0
12391,974221101,43.3,10070.0,14390.0,22130.0,0.84,7900.0,9150.0,10820.0,12600.0,...,6.8,8.5,15.6,6.4,15.8,4.7,8.4,2.7,-11.0,0
12392,974221201,48.0,9840.0,13410.0,19930.0,0.75,7310.0,9050.0,10370.0,11770.0,...,7.3,6.6,16.3,5.3,22.1,5.7,11.9,4.5,-10.6,0
12393,974221202,45.2,9930.0,13940.0,20230.0,0.74,7520.0,9220.0,10540.0,12040.0,...,6.3,8.0,18.6,4.8,20.3,5.5,11.2,3.6,-10.4,0
12394,974221203,48.7,9570.0,13210.0,19780.0,0.77,7120.0,8820.0,10250.0,11640.0,...,6.9,9.5,17.8,6.4,18.3,5.5,9.4,3.4,-10.5,0

Pour faire la jointure entre les données relatives à la pauvreté et le dataset de références iris, il faut ajouter un 0 aux codes iris n'en ayant pas (comme pour l'Ain 01).

In [84]:
for index, iris in zip(data.index, data.IRIS):
    if len(iris)!=9:
        data.loc[index,'IRIS'] = data.loc[index,'IRIS'].zfill(9)

#### Join Iris pour avoir département

On cherche à avoir des indicateurs par département. On va donc récupérer par jointure les départements de codes IRIS.

In [88]:
refIris=pd.read_excel("/Users/oscarmeurer/iCloud Drive (archive) - 1/Documentss/Pour Disque Dur (last 3 decembre 2021)/Centrale Lille /G3/Croix Rouge Française/VsCode/Git/ReferencesGeographiques/reference_IRIS.xlsx",header=5)

In [89]:
refIris

,CODE_IRIS,LIB_IRIS,TYP_IRIS,GRD_QUART,DEPCOM,LIBCOM,UU2020,REG,DEP
0,010010000,L'Abergement-Clémenciat (commune non irisée),Z,0100100,01001,L'Abergement-Clémenciat,01000,84,01
1,010020000,L'Abergement-de-Varey (commune non irisée),Z,0100200,01002,L'Abergement-de-Varey,01000,84,01
2,010040101,Les Pérouses-Triangle d'Activités,H,0100401,01004,Ambérieu-en-Bugey,01303,84,01
3,010040102,Longeray-Gare,H,0100401,01004,Ambérieu-en-Bugey,01303,84,01
4,010040201,Centre-Saint-Germain-Vareilles,H,0100402,01004,Ambérieu-en-Bugey,01303,84,01
...,...,...,...,...,...,...,...,...,...
49401,976170301,Combani Ouest,H,9761703,97617,Tsingoni,9F304,6,976
49402,976170302,Combani Est,H,9761703,97617,Tsingoni,9F304,6,976
49403,976170303,Tsingoni-Sud Épars,D,9761703,97617,Tsingoni,9F304,6,976
49404,976170304,Tsingoni-Nord Épars,D,9761703,97617,Tsingoni,9F304,6,976
49405,976170400,Miréréni,H,9761704,97617,Tsingoni,9F304,6,976

#### Rename ref iris for join column

In [90]:
refIris=refIris.rename(columns={'CODE_IRIS' : 'IRIS',
'DEP' : 'numDep'})
refIris

,IRIS,LIB_IRIS,TYP_IRIS,GRD_QUART,DEPCOM,LIBCOM,UU2020,REG,numDep
0,010010000,L'Abergement-Clémenciat (commune non irisée),Z,0100100,01001,L'Abergement-Clémenciat,01000,84,01
1,010020000,L'Abergement-de-Varey (commune non irisée),Z,0100200,01002,L'Abergement-de-Varey,01000,84,01
2,010040101,Les Pérouses-Triangle d'Activités,H,0100401,01004,Ambérieu-en-Bugey,01303,84,01
3,010040102,Longeray-Gare,H,0100401,01004,Ambérieu-en-Bugey,01303,84,01
4,010040201,Centre-Saint-Germain-Vareilles,H,0100402,01004,Ambérieu-en-Bugey,01303,84,01
...,...,...,...,...,...,...,...,...,...
49401,976170301,Combani Ouest,H,9761703,97617,Tsingoni,9F304,6,976
49402,976170302,Combani Est,H,9761703,97617,Tsingoni,9F304,6,976
49403,976170303,Tsingoni-Sud Épars,D,9761703,97617,Tsingoni,9F304,6,976
49404,976170304,Tsingoni-Nord Épars,D,9761703,97617,Tsingoni,9F304,6,976
49405,976170400,Miréréni,H,9761704,97617,Tsingoni,9F304,6,976

In [91]:
irisDepCom=refIris[["IRIS","DEPCOM","numDep"]]
irisDepCom

            IRIS DEPCOM numDep
0      010010000  01001     01
1      010020000  01002     01
2      010040101  01004     01
3      010040102  01004     01
4      010040201  01004     01
...          ...    ...    ...
49401  976170301  97617    976
49402  976170302  97617    976
49403  976170303  97617    976
49404  976170304  97617    976
49405  976170400  97617    976

[49406 rows x 3 columns]

#### Join columns

In [93]:
irisDepCom

            IRIS DEPCOM numDep
0      010010000  01001     01
1      010020000  01002     01
2      010040101  01004     01
3      010040102  01004     01
4      010040201  01004     01
...          ...    ...    ...
49401  976170301  97617    976
49402  976170302  97617    976
49403  976170303  97617    976
49404  976170304  97617    976
49405  976170400  97617    976

[49406 rows x 3 columns]

In [95]:
pauvAvecDep = data.merge(irisDepCom, how='left',on='IRIS')

In [96]:
pauvAvecDep

,IRIS,DISP_TP6018,DISP_Q118,DISP_MED18,DISP_Q318,DISP_EQ18,DISP_D118,DISP_D218,DISP_D318,DISP_D418,...,DISP_PPEN18,DISP_PPAT18,DISP_PPSOC18,DISP_PPFAM18,DISP_PPMINI18,DISP_PPLOGT18,DISP_PIMPOT18,DISP_NOTE18,DEPCOM,numDep
0,010040101,20.1,14000.0,19300.0,25250.0,0.58,10340.0,13010.0,14970.0,17020.0,...,27.7,7.3,8.8,3.4,3.4,2.0,-15.1,0,01004,01
1,010040102,25.7,12890.0,17530.0,23100.0,0.58,9970.0,12030.0,13710.0,15570.0,...,26.2,6.6,11.5,3.9,4.5,3.1,-13.8,0,01004,01
2,010040201,19.1,14090.0,19580.0,26320.0,0.62,11000.0,13140.0,15170.0,17640.0,...,28.9,8.2,7.8,3.1,2.6,2.1,-15.8,0,01004,01
3,010040202,8.9,18360.0,24530.0,31590.0,0.54,13600.0,17120.0,19550.0,21970.0,...,23.6,21.2,4.1,2.1,1.2,0.8,-20.3,0,01004,01
4,010330102,18.6,14060.0,19960.0,28100.0,0.70,10230.0,13330.0,15420.0,17470.0,...,26.7,8.4,5.2,1.6,2.0,1.6,-14.7,0,01033,01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12390,974221001,44.1,10100.0,14100.0,21770.0,0.83,7160.0,9360.0,10970.0,12210.0,...,15.4,5.4,16.0,4.4,9.0,2.6,-10.9,0,97422,974
12391,974221101,43.3,10070.0,14390.0,22130.0,0.84,7900.0,9150.0,10820.0,12600.0,...,15.6,6.4,15.8,4.7,8.4,2.7,-11.0,0,97422,974
12392,974221201,48.0,9840.0,13410.0,19930.0,0.75,7310.0,9050.0,10370.0,11770.0,...,16.3,5.3,22.1,5.7,11.9,4.5,-10.6,0,97422,974
12393,974221202,45.2,9930.0,13940.0,20230.0,0.74,7520.0,9220.0,10540.0,12040.0,...,18.6,4.8,20.3,5.5,11.2,3.6,-10.4,0,97422,974
12394,974221203,48.7,9570.0,13210.0,19780.0,0.77,7120.0,8820.0,10250.0,11640.0,...,17.8,6.4,18.3,5.5,9.4,3.4,-10.5,0,97422,974

#### Groupy and mean par département

In [99]:
dfGroupByDep=pauvAvecDep.groupby(by=['numDep']).mean()

In [100]:
dfGroupByDep

,DISP_TP6018,DISP_Q118,DISP_MED18,DISP_Q318,DISP_EQ18,DISP_D118,DISP_D218,DISP_D318,DISP_D418,DISP_D618,...,DISP_PCHO18,DISP_PBEN18,DISP_PPEN18,DISP_PPAT18,DISP_PPSOC18,DISP_PPFAM18,DISP_PPMINI18,DISP_PPLOGT18,DISP_PIMPOT18,DISP_NOTE18
numDep,,,,,,,,,,,,,,,,,,,,,
01,21.600000,14798.048780,20543.658537,27809.512195,0.619024,10847.073171,13624.878049,15949.512195,18221.219512,23023.902439,...,3.570000,2.875000,28.517073,8.851220,8.119512,2.958537,3.060976,2.100000,-16.036585,0.000000
02,27.262712,13125.671642,17746.417910,23760.895522,0.594627,9881.492537,12154.776119,14070.000000,15890.149254,19808.955224,...,3.540678,4.769492,32.156716,6.861194,13.294030,3.788060,5.977612,3.528358,-14.380597,0.000000
03,21.013889,14470.444444,19494.444444,25673.555556,0.576667,10824.666667,13380.000000,15466.666667,17464.222222,21648.666667,...,2.846667,4.428889,39.902222,9.633333,9.395556,2.146667,4.671111,2.577778,-15.573333,0.000000
04,19.666667,14784.705882,20068.823529,26767.647059,0.601176,11068.823529,13680.588235,15788.235294,17926.470588,22348.823529,...,3.035294,4.700000,35.100000,15.558824,8.241176,2.241176,3.758824,2.241176,-16.905882,0.000000
05,16.329412,15666.190476,20786.666667,27090.000000,0.552857,11900.000000,14485.714286,16725.238095,18827.619048,22893.333333,...,3.071429,5.880952,35.790476,10.395238,6.428571,2.009524,2.719048,1.700000,-16.576190,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
93,28.589837,13066.564103,18303.470085,24906.786325,0.644581,9352.427350,11955.230769,14137.452991,16197.948718,20626.239316,...,4.320658,2.795064,19.103932,5.025641,11.411966,4.309402,4.285812,2.816752,-15.889231,0.025641
94,19.669886,16927.828685,23760.219124,32468.346614,0.649243,11831.274900,15440.219124,18333.545817,21024.083665,26773.486056,...,3.164562,4.090835,21.308566,7.769522,6.288845,2.512749,2.252390,1.523705,-20.296016,0.015936
95,22.696958,15553.612717,21297.745665,28290.086705,0.596676,11197.456647,14249.364162,16748.150289,19026.994220,23726.965318,...,3.619939,3.059509,21.010405,5.653757,8.232948,3.716763,2.602601,1.913584,-17.457803,0.014451
972,29.580000,12580.291262,18530.388350,26760.873786,0.759903,8910.000000,11426.407767,13695.145631,16027.864078,21390.388350,...,3.767961,4.727184,24.731068,5.636893,12.698058,2.784466,7.694175,2.219417,-14.106796,0.000000
974,38.442915,11330.694981,16404.440154,24678.610039,0.796332,8454.826255,10425.714286,12228.301158,14175.405405,19097.258687,...,5.431128,6.945914,15.576062,6.419305,18.152124,4.785714,9.723166,3.643243,-13.064093,0.003861

In [103]:
dfGroupByDep.to_csv("/Users/oscarmeurer/iCloud Drive (archive) - 1/Documentss/Pour Disque Dur (last 3 decembre 2021)/Centrale Lille /G3/Croix Rouge Française/VsCode/Git/Pauvrete/Output/pauvPourDataStudio.csv")